*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: Proto-sans;
    src: url(../assets/fonts/ProtoSans01.otf);
}
@font-face {
    font-family: jura;
    src: url(../assets/fonts/Jura-Regular.ttf);
}

body {
    min-width: 100%;
    font-family: jura;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    overflow-x: hidden;
}

.container {
    max-width: 1260px;
    padding: 15px 15px;
}

/*------------------------------Header*/

.header {
    width: 100%;
    height: 60px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.website_logo {
}
.header_nav {
}

.header_nav ul {
    display: flex;
}
.header_nav li {
    margin: 0px 15px;
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 3px;
}
.header_nav li:hover {
    -webkit-box-shadow: 1px 3px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 11px -1px rgba(0,0,0,0.75);
}

.header_interaction_icons {
}

.header_interaction_icons img {
    height: 15px;
    width: 15px;
    margin: 0px 15px;
    cursor: pointer;
    transition: 0.3s;
}
.header_interaction_icons img:hover {
    transform: scale(1.06);
}


/*--------------------------------Main*/

.main {
}

.main_screen {
    max-height: 700px;
    width: 100%;
    position: relative;
    z-index: 1;
}

/*Slider*/

.main_screen_slider {
    position: relative;
    height: 100%;
    width: 100%;
}

.slider_img {
    width: 100%;
}

.slider_dots {
    position: absolute;
    display: flex;
    z-index: 2;
    bottom: 4%;
    left: 50%;
}
.slider_dot {
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #141414;
    backdrop-filter: blur(7.5px);
    transition: 0.4s;
    cursor: pointer;
}
.slider_dot:hover {
    background: rgba(255, 255, 255, 0.771);
    transform: scale(1.05);
}

.slider_dot-active{
    background: rgba(255, 255, 255, 0.771);
}

.short_description {
    position: absolute;
    max-width: 255px;
    max-height: 361px;
    top: 393px;
    right: 80px;
    z-index: 2;
}
.short_description-text {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ffff;
    margin-bottom: 26px;
}
.short_description-btn {
    width: 255px;
    height: 45px;
    background-color: transparent;
    border: 3px solid #F8F8F8;
    color: #ffff;
    font-family: 'Proto-sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.4s;
}
.short_description-btn:hover {
    background-color:#ffff;
    color: #141414;
}


/*Products*/

.products_screen {
    margin-top: 110px;
}

.products_slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    min-height: 452px;
    width: 100%;
}

.products_slider-header {
    font-family: 'Proto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.products_slider {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 1250px;
    position: relative;
}

.products_slider-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 250px;
    margin: 55px 20px;
    transition: 0.5s;
}

.products_slider-item:hover {
    transform: scale(1.04);
}

.products_slider-item p {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4px;
}

.products_slider button {
    position: absolute;
    height: 16px;
    width: 16px;
    border: none;
    background-color: transparent;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}

.products_slider button:hover {
    transform: scale(1.2);
}

.prev_slide-btn {
    top: 50%;
    right: 1%;

    background-image: url(../assets/icons/right_arrow.png);
    
}


.next_slide-btn {
    top: 50%;
    left: 1%;

    background-image: url(../assets/icons/left_arrow.png);
}



/*------------------------------Footer*/
.footer {
}